################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/ZavrsniEngine/v16/Browse.VC.opendb
/.vs/ZavrsniEngine/v16

/ZavrsniEngine/Release
/ZavrsniEngine/Debug
/ZavrsniEngine/x64/Debug
